<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <div class="main">
    <h2>Login</h2>
    <form *ngIf="!fireUser" name="LoginForm">
      <ion-item>
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-input type="text" placeholder="E-mail" [(ngModel)]="user.email" name="user.email">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-input type="password" placeholder="Password" [(ngModel)]="user.password" name="user.password">
        </ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="block" fill="clear" shape="round">
        Connect
      </ion-button>
    </form>
    <div *ngIf="fireUser" class="disconnect">
      <ion-label class="ion-padding">Hello, {{fireUser.email}} !</ion-label>
      <ion-button (click)="disconnect()" expand="block" fill="clear" shape="round" color="danger">
        disconnect
      </ion-button>
    </div>
  </div>
</ion-content>