<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div *ngIf="artist">
      <ion-title>{{artist.userName}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <form (ngSubmit)="logForm()" name="artistForm">
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="text" [(ngModel)]="artist.userName" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="artist.firstName" name="description"></ion-textarea>
    </ion-item>
  </form> -->

  <form (ngSubmit)="saveArtist()" name="artist" ngDefaultControl>
    <ion-item>
      <ion-label position="floating">E-mail
        <ion-icon slot="start" name="at" margin></ion-icon>
      </ion-label>
      <ion-input required type="text" placeholder="E-mail" [(ngModel)]="artist.email" name="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">First name
        <ion-icon slot="start" name="person" margin></ion-icon>
      </ion-label>
      <ion-input required type="text" placeholder="First name" [(ngModel)]="artist.firstName" name="firstName">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last name
        <ion-icon slot="start" name="person-outline" margin></ion-icon>
      </ion-label>
      <ion-input required type="text" placeholder="Last name" [(ngModel)]="artist.lastName" name="lastName">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last name
        <ion-icon slot="start" name="person-outline" margin></ion-icon>
      </ion-label>
      <ion-textarea required type="text" placeholder="Bio" [(ngModel)]="artist.bio" name="Bio">
      </ion-textarea>
    </ion-item>
    <ion-button type="submit" expand="block" fill="clear" shape="round">
      Save
    </ion-button>
  </form>
</ion-content>