<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <div class="main">
    <h2>Register</h2>
    <form (ngSubmit)="logForm()" name="userForm">
      <ion-item>
        <ion-input
          type="text"
          placeholder="E-mail"
          [(ngModel)]="user.email"
          name="user.email"
          ><ion-icon slot="start" name="person"></ion-icon
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          placeholder="Password"
          [(ngModel)]="user.password"
          name="user.password"
          ><ion-icon slot="start" name="key"></ion-icon
        ></ion-input>
      </ion-item>
      <ion-button
        (click)="registerUser()"
        expand="block"
        fill="clear"
        shape="round"
      >
        Register
      </ion-button>
    </form>
  </div>
</ion-content>
