@import "../../../theme/colors.scss";
img {
  height: 80vw;
  object-fit: cover;
  width: 100vw;
}

ion-content > ion-text {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  color: $primary;
}
