<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label>Artists</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-margin" class="ion-padding">
    <p>Availible artists around you</p>
  </ion-text>
  <ion-card button (click)="goToArtist(artist.id)" *ngFor="let artist of artists | async">

    <img src="{{artist.pic}}" />


    <ion-card-header>
      <ion-card-subtitle style="color:#aa629197">Nail artist</ion-card-subtitle>
      <ion-card-title style="color:#7f4369">{{artist.userName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:#aa6291">{{artist.bio}}
    </ion-card-content>
  </ion-card>
</ion-content>