<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label>Artists</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text id="description" class="description">
    Availible artists around you
  </ion-text>
  <ion-card button (click)="goToArtist(artist.id)" *ngFor="let artist of artists | async">
    <img src="{{artist.pic}}" />
    <ion-card-header>
      <ion-card-subtitle>Nail artist</ion-card-subtitle>
      <ion-card-title>{{artist.userName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color:#aa6291">{{artist.bio}}
    </ion-card-content>
  </ion-card>
</ion-content>