<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div *ngIf="artist">
      <ion-title>{{artist.userName}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="artist" class="artist">
    <h3>{{artist.userName}}</h3>
    <p>{{artist.email}}</p>
    <p>{{artist.active}}</p>
  </div>
  <div class="buttons">
    <ion-button (click)="editArtist()" expand="block" fill="clear" shape="round">
      Edit
    </ion-button>
    <ion-button (click)="deleteArtist()" expand="block" fill="clear" shape="round" color="danger">
      Delete
    </ion-button>
  </div>
</ion-content>